venv
.env

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

dagg/__pycache__
scripts/__pycache__
dashboard/__pycache__
scripts/connect_to_database.py
scripts/connect_to_database
my.cnf
LAB.PY
test.xlsx

dagg/settings
dagg/settings.py