{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles-ferramentas.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'logo-vermelha.ico' %}">


    <title>Aton Ferramentas</title>
</head>
<div class="container">
    <div id="header" class="row">
        <div class="col">
            <h1 id="header-titulo"><a href="/">ATON FERRAMENTAS</a></h1>
        </div>
    </div>
    <!-- Messages -->
    <div class="row">
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags}} alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Fotos</h5>
                    <form action="baixar_fotos/" method="post">
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID</span>
                                    <input type="number" name="input-codid" id="input-codid" min="0" step="1"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col">
                                <button style="background-color: green!important;" id="btn-baixar-fotos" type="submit"
                                    value="Gerar Excel" class="btn btn-secondary">Baixar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>

                    <form style="margin-top: 10px;" action="remover_fotos/" id="formulario-postagem" method="post">
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID</span>
                                    <input type="number" name="input-codid" id="input-codid" min="0" step="1"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col">
                                <button id="btn-remover-fotos" type="submit" value="Gerar Excel"
                                    class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Catálogo Requirido</h5>
                    <p class="card-text text-center">Remove a opção de todos os produtos que estão na aba de publicação.
                    </p>
                    <form style="margin-top: 10px;" action="{% url 'remover-catalogo-requerido' %}" method="post">
                        <div class="row">
                            <div class="col text-center">
                                <button id="btn-remover-catalogo-requirido" type="submit" value="Gerar Excel"
                                    class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Alterar EAN</h5>
                    <p class="card-text text-center">Altera o EAN do Produto apenas na parte de publicação.</p>
                    <form action="{% url 'alterar-ean' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">AUTOID</span>
                                    <input type="number" name="autoid" id="autoid" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">EAN</span>
                                    <input type="number" name="ean" id="ean" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: orange!important;" id="btn-baixar-fotos" type="submit"
                                    value="Gerar Excel" class="btn btn-secondary">Alterar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Remover vinculação MLB</h5>
                    <form action="{% url 'remover-mlb' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">MLB</span>
                                    <input type="text" name="mlb-vinculacao" id="mlb-vinculacao" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: red!important;" id="btn-remover-mlb" type="submit"
                                    value="Gerar Excel" class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Alterar Custo</h5>
                    {% if url_imagem %}
                        <div class="text-center">
                            <img src="{{ url_imagem }}" style="margin-top: 10px; margin-bottom: 10px;" class="img-fluid" alt="imagem_produto" width="150" height="150">
                        </div>
                        <div class="div">
                            <p class="text-center">Custo: R$ {{ custo }}</p>
                        </div>
                    {% endif %}
                    <form action="{% url 'alterar-custo' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">CODID</span>
                                    {% if codid_custo %}
                                        <input type="number" name="codid-custo" id="codid-custo" class="form-control" min="1" value="{{ codid_custo }}" required>
                                    {% else %}
                                        <input type="number" name="codid-custo" id="codid-custo" class="form-control" min="1" required>
                                    {% endif %}
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 120px;" class="input-group-text">NOVO CUSTO</span>
                                    <input type="number" name="novo-custo id="novo-custo" class="form-control" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: orange!important;" id="btn-alterar-custo" type="submit"
                                    value="btn-alterar" name="btn-alterar" class="btn btn-secondary">Alterar</button>
                            </div>
                            <div class="col text-center">
                                <button style="background-color: gray!important;" id="btn-visualizar-produto" type="submit"
                                    value="btn-visualizar" name="btn-visualizar" class="btn btn-secondary">Visualizar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<body>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script>
    document.getElementById('formulario-postagem').addEventListener('submit', function (event) {
        var confirmacao = confirm("Você deseja excluir TODAS as fotos desse CODID?"); // Exibe o prompt
        if (!confirmacao) {
            event.preventDefault(); // Cancela o envio do formulário se o usuário clicar em "Cancelar"
        }
    });
</script>

</html>