{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles-ferramentas.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'logo-vermelha.ico' %}">


    <title>Aton Ferramentas</title>
</head>
<div class="container">
    <div id="header" class="row">
        <div class="col">
            <h1 id="header-titulo"><a href="/">ATON FERRAMENTAS</a></h1>
        </div>
    </div>
    <!-- Messages -->
    <div class="row">
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags}} alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Gerar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Fotos</h5>
                    <form action="baixar_fotos/" method="post">
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID</span>
                                    <input type="number" name="input-codid" id="input-codid" min="0" step="1"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col">
                                <button style="background-color: green!important;" id="btn-baixar-fotos" type="submit"
                                    value="Gerar Excel" class="btn btn-secondary">Baixar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>

                    <form style="margin-top: 10px;" action="remover_fotos/" id="formulario-postagem" method="post">
                        <div class="row">
                            <div class="col-8">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID</span>
                                    <input type="number" name="input-codid" id="input-codid" min="0" step="1"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col">
                                <button id="btn-remover-fotos" type="submit" style="background-color: red!important;"
                                    class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Cadastrar KIT</h5>
                    <form action="{% url 'cadastrar-kit' %}" method="post">
                        <div class="row">
                            <div class="col-7">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID-1</span>
                                    <input type="number" name="codid1-kit" id="codid1-kit" min="1" step="1"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">QTD</span>
                                    <input type="number" name="qtd-codid1-kit" id="qtd-codid1-kit" min="1" step="1"
                                        value="1" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID-2</span>
                                    <input type="number" name="codid2-kit" id="codid2-kit" min="1" step="1"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">QTD</span>
                                    <input type="number" name="qtd-codid2-kit" id="qtd-codid2-kit" min="0" step="1"
                                        value="0" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">CODID-3</span>
                                    <input type="number" name="codid3-kit" id="codid3-kit" min="1" step="1"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">QTD</span>
                                    <input type="number" name="qtd-codid3-kit" id="qtd-codid3-kit" min="0" step="1"
                                        value="0" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <button style="background-color: green!important;" id="btn-cadastrar-kit" type="submit"
                                class="btn btn-secondary">Cadastrar</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title  text-center">Cria planilha SQL</h5>
                        </div>
                        <div class="col-4">
                            <button style="background-color: rgb(72, 72, 207)!important; margin-bottom: 20px;"
                                data-bs-toggle="modal" data-bs-target="#modalAjuda" type="submit"
                                class="btn btn-secondary">Ajuda</button>
                        </div>
                    </div>
                    <form action="{% url 'baixar-planilha-via-sql' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control" name="sql-comando" id="sql-comando" rows="6"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: green!important; margin-top: 20px; width: 100px;"
                                    id="btn-baixar-planilha" type="submit" class="btn btn-secondary">Baixar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Copiar Atributos</h5>
                    <p class="card-text text-center">Os atributos do primeiro CODID serão copiados para o segundo CODID
                    </p>
                    <form action="{% url 'copiar-atributos' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">CODID-1</span>
                                    <input type="number" name="codid1-atributo" id="codid1-atributo"
                                        class="form-control" min="1" max="30000" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">CODID-2</span>
                                    <input type="number" name="codid2-atributo" id="codid2-atributo"
                                        class="form-control" min="1" max="30000" required>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" class="row">
                            <div class="col">
                                <select class="form-select" name="marketplace" required>
                                    <option value="" disabled selected>MARKETPLACE</option>
                                    <option value="Mercado Livre">Mercado Livre</option>
                                    <option value="NetShoes">NetShoes</option>
                                    <option value="Decathlon">Decathlon</option>
                                    <option value="SkyHub">SkyHub</option>
                                    <option value="IntegraCommerce">IntegraCommerce</option>
                                    <option value="Shopee">Shopee</option>
                                    <option value="CNova">CNova</option>
                                    <option value="AliExpress">AliExpress</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: green!important;" id="btn-baixar-fotos" type="submit"
                                    value="Gerar Excel" class="btn btn-secondary">Copiar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Criar Pedido de Transferência</h5>
                    <br>
                    <form action="{% url 'criar-pedido-transferencia' %}" enctype="multipart/form-data" method="post">
                        <!-- EMPRESA ORIGEM -->
                        <div style="margin-bottom: 10px;" class="row">
                            <div class="col">
                                <select style="background-color: #fff2da;" class="form-select" name="empresa-origem"
                                    required>
                                    <option value="" disabled selected>EMPRESA ORIGEM</option>
                                    <option value="1">MADZ</option>
                                    <option value="2">LEAL</option>
                                    <option value="3">PISSTE</option>
                                    <option value="4">MADZ FILIAL SP</option>
                                </select>
                            </div>
                        </div>

                        <!--  EMPRESA DESTINO -->
                        <div style="margin-bottom: 10px;" class="row">
                            <div class="col">
                                <select style="background-color: #efffef;" class="form-select" name="empresa-destino"
                                    required>
                                    <option value="" disabled selected>EMPRESA DESTINO</option>
                                    <option value="1">MADZ</option>
                                    <option value="2">LEAL</option>
                                    <option value="3">PISSTE</option>
                                    <option value="4">MADZ FILIAL SP</option>
                                </select>
                            </div>
                        </div>

                        <!-- ARMAZEM ORIGEM -->
                        <div style="margin-bottom: 10px;" class="row">
                            <div class="col">
                                <select style="background-color: #fff2da;" class="form-select" name="armazem-origem"
                                    required>
                                    <option value="" disabled selected>ARMAZEM ORIGEM</option>
                                    <option value="1">PRINCIPAL</option>
                                    <option value="2">FULL ML MADZ</option>
                                    <option value="3">FULL ML LEAL</option>
                                    <option value="4">FULL ML PISSTE</option>
                                    <option value="5">DEFEITOS</option>
                                    <option value="6">MADZ FILIAL SP</option>
                                    <option value="7">SEM ESTOQUE</option>
                                    <option value="8">LEAL FULL MG</option>
                                    <option value="9">NÃO DEVOLVIDO</option>
                                    <option value="10">MADZ FULL MG</option>
                                    <option value="11">FULL MAGALU MADZ</option>
                                    <option value="12">FBA AMAZON</option>
                                </select>
                            </div>
                        </div>

                        <!-- ARMAZEM DESTINO -->
                        <div style="margin-bottom: 10px;" class="row">
                            <div class="col">
                                <select style="background-color: #efffef;" class="form-select" name="armazem-destino"
                                    required>
                                    <option value="" disabled selected>ARMAZEM DESTINO</option>
                                    <option value="1">PRINCIPAL</option>
                                    <option value="2">FULL ML MADZ</option>
                                    <option value="3">FULL ML LEAL</option>
                                    <option value="4">FULL ML PISSTE</option>
                                    <option value="5">DEFEITOS</option>
                                    <option value="6">MADZ FILIAL SP</option>
                                    <option value="7">SEM ESTOQUE</option>
                                    <option value="8">LEAL FULL MG</option>
                                    <option value="9">NÃO DEVOLVIDO</option>
                                    <option value="10">MADZ FULL MG</option>
                                    <option value="11">FULL MAGALU MADZ</option>
                                    <option value="12">FBA AMAZON</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center">
                                <div class="mb-3">
                                    <p>1. Coluna: COD_INTERNO <br>
                                        2. Coluna: QUANT</p>
                                    <input class="form-control" type="file" name="file" id="file" accept=".xlsx, .xls"
                                        required>
                                </div>
                                <button style="background-color: green!important;" id="btn-criar-pedido-transferencia"
                                    name="btn-criar-pedido-transferencia" type="submit"
                                    class="btn btn-secondary">Criar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col align-self-end">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title text-center">Gerar EAN</h5>
                    <form action="{% url 'gerar-ean-aleatorio' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">EAN</span>
                                    {% if ean_gerado %}
                                    <input type="number" name="ean-gerado" id="ean-gerado" class="form-control"
                                        value="{{ ean_gerado }}" readonly>
                                    {% else %}
                                    <input type="number" name="ean-gerado" id="ean-gerado" class="form-control"
                                        readonly>
                                    {% endif %}
                                    <button type="button" id="btn-copiar" class="btn btn-secondary">Copiar</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: green!important;" id="btn-gerar-ean" type="submit"
                                    value="Gerar Ean" class="btn btn-secondary">Gerar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Alterar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Alterar Custo</h5>
                    {% if url_imagem %}
                    <div class="text-center">
                        <img src="{{ url_imagem }}" style="margin-top: 10px; margin-bottom: 10px;" class="img-fluid"
                            alt="imagem_produto" width="150" height="150">
                    </div>
                    <div class="div">
                        <p style="margin-bottom: 1px;" class="text-center">ID: {{ codid_custo }}</p>
                        <p class="text-center">Custo Atual: R$ {{ custo }}</p>
                    </div>
                    {% endif %}
                    <form action="{% url 'alterar-custo' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">CODID</span>
                                    {% if codid_custo %}
                                    <input type="number" name="codid-custo" id="codid-custo" class="form-control"
                                        min="1" value="{{ codid_custo }}" required>
                                    {% else %}
                                    <input type="number" name="codid-custo" id="codid-custo" class="form-control"
                                        min="1" required>
                                    {% endif %}
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 120px;" class="input-group-text">NOVO CUSTO</span>
                                    <input type="text" name="novo-custo" id="novo-custo" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: orange!important;" id="btn-alterar-custo" type="submit"
                                    value="btn-alterar" name="btn-alterar" class="btn btn-secondary">Alterar</button>
                            </div>
                            <div class="col text-center">
                                <button style="background-color: gray!important;" id="btn-visualizar-produto"
                                    type="submit" value="btn-visualizar" name="btn-visualizar"
                                    class="btn btn-secondary">Visualizar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Alterar EAN</h5>
                    <p class="card-text text-center">Altera o EAN do Produto apenas na parte de publicação.</p>
                    <form action="{% url 'alterar-ean' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">AUTOID</span>
                                    <input type="number" name="autoid" id="autoid" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">EAN</span>
                                    <input type="number" name="ean" id="ean" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: orange!important;" id="btn-baixar-fotos" type="submit"
                                    value="Gerar Excel" class="btn btn-secondary">Alterar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Inativar produtos Aton</h5>
                    <form action="{% url 'inativar-produtos-aton' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" style="color: red;"
                                        class="form-label">Separar os CODID por quebra de linha!</label>
                                    <textarea class="form-control" name="codid-inativar-produtos"
                                        id="codid-inativar-produtos" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: orange!important;" id="btn-inativar-produtos"
                                    type="submit" class="btn btn-secondary">Inativar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 28rem">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title  text-center">Balanço de Produtos</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button style="background-color:gray!important; margin-bottom: 20px;" data-bs-toggle="modal"
                                data-bs-target="#modalAjudaBalanco" type="submit"
                                class="btn btn-secondary">Instruções</button>
                        </div>
                    </div>
                    <form action="{% url 'balanco-estoque' %}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: green!important; margin-bottom: 10px;"
                                    name="baixar-balanco-produto" id="baixar-balanco-produto" type="submit"
                                    class="btn btn-secondary">Baixar Planilha</button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col text-center">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Importar Balanço de Produtos</label>
                                    <input class="form-control" type="file" id="formFile" name="formFile" accept=".xlsx, .xls"
                                        multiple>
                                </div>
                                <button style="background-color: orange!important;" id="importar-balanco-produto"
                                    name="importar-balanco-produto" type="submit" class="btn btn-secondary">Atualizar Estoque</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Alterar Fiscal</h5>
                    <p class="card-text text-center">1. Manter em branco não resultará em alterações.</p>
                    <p class="card-text text-center">2. Para remover o valor atual escreva: Apagar</p>
                    <form action="{% url 'atualizar-info-fiscal-produtos' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 140px; background-color: rgb(255, 97, 97);" class="input-group-text">COD_INTERNO</span>
                                    {% if cod_interno %}
                                    <input type="text" name="cod_interno" id="cod_interno" class="form-control"
                                        value="{{ cod_interno }}" required>
                                    {% else %}
                                    <input type="text" name="cod_interno" id="cod_interno" class="form-control" required>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">NCM</span>
                                    {% if ncm %}
                                    <input type="text" name="ncm" id="ncm" class="form-control" value="{{ ncm }}">
                                    {% else %}
                                    <input type="text" name="ncm" id="ncm" class="form-control">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">ORIGEM</span>
                                    {% if origem %}
                                    <input type="text" name="origem" id="origem" class="form-control"
                                        value="{{ origem }}">
                                    {% else %}
                                    <input type="text" name="origem" id="origem" class="form-control">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">CEST</span>
                                    {% if cest %}
                                    <input type="text" name="cest" id="cest" class="form-control" value="{{ cest }}">
                                    {% else %}
                                    <input type="text" name="cest" id="cest" class="form-control">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if tabela_imposto %}
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">TABELA</span>
                                    <input type="text" disabled class="form-control" value="{{ tabela_imposto }}">
                                </div>
                                {% endif %}
                                
                                <select class="form-select" name="tabela_imposto">
                                    <option value="None" disabled selected>TABELA IMPOSTO</option>
                                    <option value="1">TABELA SIMPLES</option>
                                    <option value="2">TABELA COM ST</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: orange!important; margin-top: 10px;" type="submit"
                                    value="btn_alterar_info_fiscal" name="btn_alterar_info_fiscal" class="btn btn-secondary">Alterar</button>
                            </div>
                            <div class="col text-center">
                                <button style="background-color: gray!important; margin-top: 10px;" type="submit"
                                    value="btn_consultar_info_fiscal" name="btn_consultar_info_fiscal" class="btn btn-secondary">Visualizar</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Remover</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Remover vinculação Netshoes</h5>
                    <form action="{% url 'remover-sku-netshoes' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">SKU</span>
                                    <input type="text" name="sku-netshoes-vinculacao" id="sku-netshoes-vinculacao"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" class="row">
                            <div class="col">
                                <select class="form-select" name="loja" required>
                                    <option value="" disabled selected>LOJA</option>
                                    <option value="2">MADZ</option>
                                    <option value="3">LEAL</option>
                                    <option value="4">PISSTE</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: red!important;" id="btn-remover-sku-netshoes"
                                    type="submit" class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Catálogo Requirido</h5>
                    <p class="card-text text-center">Remove a opção de todos os produtos que estão na aba de publicação.
                    </p>
                    <form style="margin-top: 10px;" action="{% url 'remover-catalogo-requerido' %}" method="post">
                        <div class="row">
                            <div class="col text-center">
                                <button id="btn-remover-catalogo-requirido" type="submit" value="Gerar Excel"
                                    class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Remover vinculação MLB</h5>
                    <form action="{% url 'remover-mlb' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" style="color: red;"
                                        class="form-label">Separar os MLBS por quebra de linha!</label>
                                    <textarea class="form-control" name="mlb-remover-aton" id="mlb-remover-aton"
                                        rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: red!important;" id="btn-remover-mlb" type="submit"
                                    class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Consultar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title  text-center">Consultar Associação Categoria MLB</h5>
                    <form action="{% url 'consulta-vinculacao-mlb' %}" method="post">
                        <div class="row">
                            <div class="col">
                                <div style="width: 20rem;" class="input-group input-group-sm mb-3">
                                    <span style="width: 80px;" class="input-group-text">MLB</span>
                                    <input type="text" name="mlb-vinculacao" id="mlb-vinculacao" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- TABELA -->
                        <div class="row">
                            <div class="col">
                                <div class="div" style="overflow-y: auto;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">AUTOID</th>
                                                <th scope="col">MKTP</th>
                                                <th scope="col">CATEG1</th>
                                                <th scope="col">CATEG2</th>
                                                <th scope="col">CATEG3</th>
                                                <th scope="col">NOME_MLB</th>
                                                <th scope="col">MLB</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in df_dict %}
                                            <tr>
                                                <!-- Checkbox -->
                                                <td><input type="checkbox" class="autoid-checkbox"
                                                        name="autoid-checkbox" id="autoid-checkbox"
                                                        value="{{ data.AUTOID }}"></td>

                                                <!-- AUTOID -->
                                                <td>{{ data.AUTOID}}</td>

                                                <!-- MKTP -->
                                                <td>{{ data.API}} </td>

                                                <!-- CATEG1 -->
                                                <td>{{ data.CATEG_MKTP_DESC }}</td>

                                                <!-- CATEG2 -->
                                                <td>{{ data.DEPARTAMENTO}}</td>

                                                <!-- CATEG3 -->
                                                <td>{{ data.PRODUTO_TIPO}}</td>

                                                <!-- NOME_MLB -->
                                                <td>{{ data.CATEG_NOME}}</td>

                                                <!-- MLB -->
                                                <td>{{ data.CATEG_ATON}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button style="background-color: green!important; margin-bottom: 10px;"
                                    name="consultar-vinculacao" id="consultar-vinculacao" type="submit"
                                    class="btn btn-secondary">Consultar</button>
                            </div>
                            <div class="col text-center">
                                <button style="background-color: red!important; margin-bottom: 10px;"
                                    name="remover-vinculacao" id="remover-vinculacao" type="submit"
                                    class="btn btn-secondary">Remover</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Outros</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem">
                <div class="card-body">
                    <h5 class="card-title  text-center">Atualizar Aton</h5>
                    <p class="card-text text-center" style="color: gray;">Você pode compartilhar os seus arquivos do
                        Aton ou baixar o compartilhamento mais recente.</p>
                    {% if Message %}
                    <p class="text-center" style="color: red;">Data do ultimo envio: <br> <span id="data_hora_clique">{{
                            Message }}</span></p>
                    {% else %}
                    <p class="text-center" style="color: red;">Data do ultimo envio: <br> <span
                            id="data_hora_clique"></span></p>
                    {% endif %}
                    <form action="{%  url 'atualizar-aton' %}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col text-center">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Enviar arquivos Aton</label>
                                    <input class="form-control" type="file" id="formFile" name="formFile" accept=".exe"
                                        multiple>
                                </div>
                                <button style="background-color: orange!important;" id="btn-enviar-arquivos-aton"
                                    name="btn-enviar-arquivos-aton" type="submit" class="btn btn-secondary">Enviar
                                    arquivos</button>
                            </div>
                        </div>
                        <div style="margin-top: 30px;" class="row">
                            <div class="col text-center">
                                <p>--------------</p>
                                <button style="background-color: green!important;" id="btn-baixar-arquivos-aton"
                                    name="btn-baixar-arquivos-aton" type="submit" class="btn btn-secondary">Baixar
                                    arquivos Aton</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAjuda" tabindex="-1" aria-labelledby="modalAjudaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAjudaLabel">Ajuda Comando</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Algoritmo</h3>
                <p>SELECT <-- sempre tem que ter</p>
                        <p>COLUNAS <-- nome das colunas ou asterisco para pegar todas</p>
                                <p>FROM <-- sempre tem que ter</p>
                                        <p>MATERIAIS <-- nome da tabela de produtos</p>
                                                <p>WHERE <-- caso você queira filtrar valores</p>
                                                        <h3>Exemplos</h3>
                                                        <p>SELECT * FROM MATERIAIS</p>
                                                        <hr>
                                                        <p>SELECT * FROM MATERIAIS WHERE VLR_CUSTO > 50</p>
                                                        <hr>
                                                        <p>SELECT * FROM MATERIAIS WHERE VLR_CUSTO > 50 AND INATIVO =
                                                            'N'</p>
                                                        <hr>
                                                        <p>SELECT CODID, COD_INTERNO, DESCRICAO FROM MATERIAIS</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAjudaBalanco" tabindex="-1" aria-labelledby="modalAjudaBalancoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAjudaLabel">Instruções</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>1. Tirar pedidos</h4>
                <p>Antes de fazer o balanço de produtos, deve-se obrigatoriamente fazer a emissão de todos os pedidos.
                </p>
                <h4>2. Inativar robô (sincronização de pedidos)</h4>
                <p>Inative o robô que a todo momento faz a busca de novos pedidos no marketplace e debita o estoque.
                    Isso pode atrapalhar o balanço!
                    Para fazer isso você terá que ligar no Ambar X para fazer a solicitação de inativação.
                    Contato: (011) 2087-6767</p>
                <h4>Despacho de produtos</h4>
                <p>Deve-se fazer o despacho no mesmo dia de todos os pedidos gerado. Não pode haver pedidos no sistema e
                    nem na expedição, pois poderá afetar a contagem dos produtos.</p>
                <h4>4. Verificação de produtos</h4>
                <p>Antes de fazer o balanço de produtos, faça a verificação se existe algum produto no controle de
                    qualidade ou no atendimento, pois os produtos que não estão no estoque, também devem ser
                    contabilizados.</p>
                <h4>5. Baixe a planilha e faça o balanço</h4>
                <br>
                <h4>6. Importe a planilha</h4>
                <p style="color: red;">Deixe em BRANCO/VAZIO os produtos que você não fez o balanço.</p>
                <p style="color: red;">Não exclua a coluna CODID e ESTOQUE_REAL</p>
                <h4>7. Ative o robô (sincronização de pedidos)</h4>
                <p>Ligue novamente para o Aton para fazer a ativação da sincronização de pedidos.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<body>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script>
    document.getElementById('formulario-postagem').addEventListener('submit', function (event) {
        var confirmacao = confirm("Você deseja excluir TODAS as fotos desse CODID?"); // Exibe o prompt
        if (!confirmacao) {
            event.preventDefault(); // Cancela o envio do formulário se o usuário clicar em "Cancelar"
        }
    });
</script>

<script>
    try {
        var myModal = document.getElementById('myModal')
        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    }
    catch {
        console.log('Modal não encontrado')
    }
</script>

<script>
    document.getElementById("btn-copiar").addEventListener("click", function () {
        var inputElement = document.getElementById("ean-gerado");
        inputElement.select();
        document.execCommand("copy");
    });
</script>

<script>
    // Captura a referência para todos os checkboxes e os botões
    var checkboxes = document.querySelectorAll('.autoid-checkbox');
    var consultarButton = document.getElementById('consultar-vinculacao');
    var removerButton = document.getElementById('remover-vinculacao');

    // Função para verificar o estado dos checkboxes e habilitar/desabilitar os botões
    function verificarEstadoCheckboxes() {
        // Verifica se algum checkbox está marcado
        var algumMarcado = false;
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                algumMarcado = true;
            }
        });

        // Desabilita o botão 'consultar-vinculacao' se algum checkbox estiver marcado
        consultarButton.disabled = algumMarcado;

        // Desabilita o botão 'remover-vinculacao' se nenhum checkbox estiver marcado
        removerButton.disabled = !algumMarcado;
    }

    // Adiciona um ouvinte de evento de mudança a cada checkbox
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', verificarEstadoCheckboxes);
    });

    // Verifica o estado inicial dos checkboxes quando a página carrega
    verificarEstadoCheckboxes();
</script>

<script>
    function obterDataHoraClique() {
        fetch('obter_data_hora_clique/')
            .then(response => response.json())
            .then(data => {
                document.getElementById('data_hora_clique').textContent = data.data_hora;
            });
    }
    obterDataHoraClique();
</script>

<style>
    h2 {
        margin-bottom: 40px;
    }
</style>

</html>