{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'trackeamento/styles-trackeamento.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'logo-vermelha.ico' %}">


    <title>Métricas Mercado Livre</title>
</head>

<body>
    <div style="height: 500px;" class="container">
        <div id="header" class="row">
            <div class="col">
                <h1 id="header-titulo"><a href="/trackeamento/">MÉTRICAS MERCADO LIVRE</a></h1>
            </div>
        </div>
        <!-- Messages -->
        <div class="row">
            <div class="col">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags}} alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{% url 'atualizar-historico-mercadolivre' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="margin-bottom: 5px;"
                        class="btn btn-primary float-end">Atualizar</button>
                </form>
            </div>
            <div class="col-1">
                <form action="{% url 'baixar-historico-mercadolivre' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="margin-bottom: 5px;"
                        class="btn btn-primary float-end">Histórico</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h5 style="margin-bottom: 20px;">Cadastro MLB</h5>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 100px;" class="input-group-text"
                                        id="inputGroup-sizing-sm-search">Pesquisa</span>
                                    <input type="text" class="form-control" id="termo-cadastro" name="termo-cadastro"
                                        required>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span style="background-color: rgb(255, 166, 0); font-weight: 900; width: 100px;"
                                        class="input-group-text">MLB ML</span>
                                    <input type="text" class="form-control" id="mlb-mercadolivre-cadastro"
                                        name="mlb-mercadolivre-cadastro" required>
                                </div>
                                <button type="submit" class="btn btn-success" name="action" value="cadastrar"
                                    style="background-color: green!important;">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h5 style="margin-bottom: 20px;">Remover MLB</h5>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="input-group input-group-sm mb-3">
                                    <span style="width: 100px;" class="input-group-text">Pesquisa</span>
                                    <input type="text" class="form-control" id="termo-mercadolivre-delete"
                                        name="termo-mercadolivre-delete" required>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <span style="background-color: rgb(255, 166, 0); font-weight: 900; width: 100px;"
                                        class="input-group-text">MLB ML</span>
                                    <input type="text" class="form-control" id="mlb-mercadolivre-delete"
                                        name="mlb-mercadolivre-delete" required>
                                </div>
                                <button type="submit" name="action" value="remover"
                                    class="btn btn-primary">Remover</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>