{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'trackeamento/styles-trackeamento.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'logo-vermelha.ico' %}">

  <title>Painel Posição MercadoLivre</title>
</head>

<body>
  <div class="container">
    <div id="header" class="row">
      <div class="col">
        <h1 id="header-titulo"><a href="{% url 'metricas-mercadolivre' %}">PAINEL</a></h1>
      </div>
    </div>
    <!-- Messages -->
    <div class="row">
      <div class="col">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags}} alert-dismissible fade show text-center" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form action="{% url 'atualizar-historico-mercadolivre' %}" method="post">
          {% csrf_token %}
          <button type="submit" style="margin-bottom: 5px;" class="btn btn-primary float-end">Atualizar</button>
        </form>
      </div>
      <div class="col-1">
        <form action="{% url 'baixar-historico-mercadolivre' %}" method="post">
          {% csrf_token %}
          <button type="submit" style="margin-bottom: 5px;" class="btn btn-primary float-end">Histórico</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="div" style="height: 650px; overflow-y: auto;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Página</th>
                <th scope="col">Posição</th>
                <th scope="col">Nome</th>
                <th scope="col">MLB</th>
                <th scope="col">Termo</th>
                <th scope="col">Ultima Att</th>
              </tr>
            </thead>
            <tbody>
              {% for item in lista_mercadolivre %}
              <tr>
                <!-- Página -->
                <th style="color:black" scope="row">{{ item.pagina }}</th>

                <!-- Posição -->
                <td>{{ item.posicao }}</td>

                <!-- Nome -->
                <td>{{ item.nome }}</td>

                <!-- MLB  -->
                <td>{{ item.mlb_anuncio }}</td>

                <!-- Termo -->
                <td>{{ item.termo_busca }}</td>

                <!-- Ultima Att -->
                <td>{{ item.ultima_atualizacao }}</td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>