{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'trackeamento/styles-trackeamento.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'logo-vermelha.ico' %}">

  <title>Painel Match Netshoes</title>
</head>

<body>
  <div class="container">
    <div id="header" class="row">
      <div class="col">
        <h1 id="header-titulo"><a href="/trackeamento/match-netshoes">PAINEL</a></h1>
      </div>
    </div>
    <!-- Messages -->
    <div class="row">
      <div class="col">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags}} alert-dismissible fade show text-center" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="div" style="height: 650px; overflow-y: auto;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Loja</th>
                <th scope="col">SKU Match</th>
                <th scope="col">Status</th>
                <th scope="col">Ultima Att</th>
              </tr>
            </thead>
            <tbody>
              {% for mskus_netshoes in match_netshoes %}
              <tr>
                <!-- Titulo -->
                <td><a style="color: #212529;">{{ mskus_netshoes.titulo_produto }}</a></td>
                
                <!-- Loja -->
                <td><a style="color: #212529;">{{ mskus_netshoes.nome_loja }}</a></td>

                <!-- SKU Netshoes Match -->
                <td><a style="color: #212529;" href="https://www.netshoes.com.br/{{ mskus_netshoes.sku_match }}"
                    target="_blank">{{ mskus_netshoes.sku_match }}</a></td>

                <!-- Status -->
                <td id="coluna_status">{{mskus_netshoes.status}}</td>

                <!-- Última atualização -->
                <td>{{mskus_netshoes.ultima_atualizacao}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script>
    // percorra cada linha da coluna status e verifique se o valor é manteve
    // se for, pinte a linha de verde
    // se não, pinte a linha de vermelho
    var coluna_status = document.querySelectorAll('#coluna_status');
    coluna_status.forEach(function (status) {
      if (status.innerHTML === 'Manteve') {
        status.parentElement.style.backgroundColor = '#d4edda';
      } else if (status.innerHTML === 'Não Manteve') {
        status.parentElement.style.backgroundColor = '#f8d7da';
      }
    });
  </script>
</body>

</html>