{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'relatorios/styles-relatorio.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'logo-vermelha.ico' %}">


    <title>Relatórios</title>
</head>

<body>
    <div class="container">
        <div id="header" class="row">
            <div class="col">
                <h1 id="header-titulo"><a href="/">RELATÓRIOS</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Produtos para Inativar</h5>
                        <p class="card-text">Obtém os produtos ativos, com estoque zerado, que não foram vendidos desde
                            o
                            dia 1 do mês passado até hoje.</p>
                        <form action="excel_planilha_produtos_sem_vendas/" method="post">
                            <button onclick="alertaAguardaPlanilha()" type="submit"
                                value="Gerar Excel" class="btn btn-secondary">Download</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card" style="width: 18rem; height:13.44rem;">
                    <div class="card-body">
                        <h5 class="card-title">Dados Campanha</h5>
                        <p class="card-text">Realiza a coleta de dados de múltiplas tabelas do aton</p>
                        <form action="excel_planilha_campanha/" method="post">
                            <button onclick="alertaAguardaPlanilha()" type="submit"
                                value="Gerar Excel" class="btn btn-secondary">Download</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card" style="width: 30rem; height: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Vendas Comparativa Netshoes</h5>
                        <p class="card-text">Compara vendas em duas datas distintas</p>
                        <form method="post" action="excel_planilha_comparativo_vendas_netshoes/">
                            {% csrf_token %}
                            <div class="row">
                                <!-- PERÍODO PRINCIPAL -->
                                <div class="col">
                                    <p for="data_inicial_principal"style="font-weight: bold">Período Recente</p>
                                    <input type="date" name="data_inicial_principal" id="data_inicial_principal">
                                    <p for="data_final_principal" style="margin-top: 10px;">Até</p>
                                    <input type="date" name="data_final_principal" id="data_final_principal">
                                    <br>
                                </div>
                                <!-- PERÍODO COMPARATIVO -->
                                <div class="col">
                                    <div class="col">
                                        <p for="data_inicial_comparativo"style="font-weight: bold">Período Anterior</p>
                                        <input type="date" name="data_inicial_comparativo" id="data_inicial_comparativo">
                                        <p for="data_final_comparativo" style="margin-top: 10px;">Até</p>
                                        <input type="date" name="data_final_comparativo" id="data_final_comparativo">
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 18px;">
                                <div class="col">
                                    <button onclick="alertaAguardaPlanilha()" class="btn btn-secondary" type="submit" style="text-align: left;" value="Download">Download</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">Todas Vinculações de Produtos Aton com Marketplaces</h5>
                        <form action="excel_planilha_todas_vinculacoes_marketplace_aton/" method="post">
                            <button onclick="alertaAguardaPlanilha()" type="submit"
                                value="Gerar Excel" class="btn btn-secondary">Download</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">Todas as vendas no Aton</h5>
                        <form action="excel_planilha_todas_as_vendas_aton/" method="post">
                            <button onclick="alertaAguardaPlanilha()" type="submit"
                                value="Gerar Excel" class="btn btn-secondary">Download</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">Manutenção</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        function alertaAguardaPlanilha() {
            setTimeout(function () {
                alert("Aguarde o carregamento do dados, o arquivo será gerado!");
            }, 500); // Atraso de 500 milissegundos
        }
    </script>
</body>

</html>